[Desktop Entry]
Encoding=UTF-8
Name=HookersAndBlow Core
Comment=Connect to the HookersAndBlow P2P Network
Comment[de]=Verbinde mit dem HookersAndBlow peer-to-peer Netzwerk
Comment[fr]=HookersAndBlow, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HookersAndBlow, eşten eşe kriptografik sanal para birimi
Exec=raven-qt %u
Terminal=false
Type=Application
Icon=raven128
MimeType=x-scheme-handler/raven;
Categories=Office;Finance;
