[Unit]
Description=HookersAndBlowCoin testnet daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
WorkingDirectory=%h/code/hnbcoin/HookersAndBlowCoin
ExecStart=%h/code/hnbcoin/HookersAndBlowCoin/src/ravend -testnet -daemon -bypassdownload -miningaddress=mtwaiPURgZPPjyo5zi4FqqUva6PEGG7kbr
ExecStop=%h/code/hnbcoin/HookersAndBlowCoin/src/raven-cli -testnet stop
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
